parameters:
	bootstrap: tests/phpstan/bootstrap.php
	paths:
		- classes
		- controllers
		- psagechecker.php
	excludes_analyse:
		- vendor/
		- translations/
	ignoreErrors:
		- '#Property ModuleCore::\$version \(float\) does not accept string.#'
		- '#Access to an undefined property Product::\$imgLink.#'
		- '#Property TabCore::\$name \(string\) does not accept array.#'

	level: 5
